.apresentação{
    font-size: 25px;
    font-family: 7;
    text-align: justify;
    font-weight: normal;
}


nav button{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(13, 7, 64); 
  border: none;
  color: white;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img {
    align: center;
    margin:auto;
    display:block;
    border-radius: 50%;

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    
}

main {
    
    padding: 30px;
    background: white;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main p {
    padding: 5%;
    font-size: 1.2em;
    font-weight: bold;
    color: #22223b;
    flex: 1;
}


ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 1em;
    color: #4a4e69;
}


body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 15px;
}

